<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inscription </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/inscription.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/control.js')}}">
    
</head>
<body>
<div class="container">
  <form method="POST" action="auth">
    <p>Inscrivez vous </p>
    <input type="name" name="nom" id="nom" placeholder="Entrez votre nom">
    <br>
    
    <input type="name"  name="prenom" id="prenom" placeholder=" Entrez vos Prénoms" >
    <br>
   
    <input type="email" name="email" id="email" placeholder="Entrez votre Email">
    <br>
   
    <input type="password" name="pw1" id="pw1"  placeholder="Mot de passe" minlength="8" required>
    <br>
   
    <input type="password" name="pw2" id="pw2" placeholder="Confirmez votre Mot de passe" minlength="8" required>
  <br/>
    <input type="submit" name="envoyer" id="envoyer" onclick="confirmPassword2(pw1,pw2)" value="Connexion"><br>
    <a href="#">Mot de passe oublié</a>
  </form>

  <div class="drop drop-1"></div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3"></div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>
</div>

</body>
</html>